:root {
  --primary: #fcfaff;
  --secondary: #9781f1;
  --black: #000000;
  --accent1: #5d49ac;
  --accent2: #a088ff;
}

html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 125%;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 0.875rem;
}

p,
a,
ul {
  font-family: "Inter", sans-serif;
  line-height: 150%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--primary);
}
ul {
  list-style: none;
}
.p1 {
  font-size: 1rem;
}
.p2 {
  font-size: 0.875rem;
}
.p3 {
  font-size: 0.75rem;
}
.p4 {
  font-size: 0.625rem;
}
.pill {
  border-radius: 100vmax;
}
.btn {
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.btn:hover {
  opacity: 0.9;
  transition: 250ms;
}
.btn-secondary {
  background: var(--secondary);
  color: var(--primary);
  padding: 0 0.75rem;
}
.bold {
  font-weight: bold;
}
/* Start Page style begin */
.sp-container {
  background: var(--secondary);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  flex-direction: column;
  text-align: center;
}
.sp__name {
  font-family: "Porter Sans Block", sans-serif;
  color: var(--primary);
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
}
.sp__desc {
  margin-bottom: 0.75rem;
}
.sp__highlight {
  color: var(--black);
  transition: 250ms ease-out;
  cursor: pointer;
}
.sp__normal {
  color: var(--primary);
  transition: 250ms ease-out;
}
.sp__ul {
  text-align: center;
}
.sp__li {
  margin-bottom: 0.5rem;
}
.sp__a {
  color: var(--primary);
  font-size: 0.75rem;
}
/* header style begin */
.h1 {
  font-size: 2rem;
}
.header {
  padding: 2rem 0;
  text-align: center;
  position: sticky;
}
.ham {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 2.5rem;
  cursor: pointer;
  top: 2.75rem;
}
.ham__open {
  transform: rotate(90deg);
  z-index: 10000;
}
.ham__line {
  height: 0.225rem;
  width: 1.875rem;
  border-radius: 4px;
  background: var(--black);
  margin-bottom: 0.25rem;
}

.ham__menu {
  display: none;
  background: var(--secondary);
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100vw;
  height: 100vh;
}
.ham__menu-open {
  display: block;
  animation: ham-fade 250ms;
}
@keyframes ham-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ham__menu-list {
  margin-top: 5.5rem;
}
.ham__menu-li {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--primary);
}

.ham__menu-a {
  font-family: "Poppins", sans-serif;
}

/* About style begin */
.about-wrapper {
  margin: 0 1rem;
}
.about-switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-cylinder-wrapper {
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
}
.about__cylinder {
  height: 1.125rem;
  width: 2.75rem;
  background: var(--secondary);
  border-radius: 100vmax;
  display: flex;
  align-items: center;
}
.about__cylinder-right {
  justify-content: flex-start;
  border: 1px solid var(--black);
}
.about__cylinder-left {
  justify-content: flex-end;
  border: 1px solid var(--black);
  background: var(--primary);
}
.about__circle {
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 50%;
  cursor: pointer;
}
.about__circle-right {
  background: var(--primary);
  margin-left: 0.1rem;
}
.about__circle-left {
  background: var(--secondary);
  margin-right: 0.1rem;
}
.about-header-wrapper {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.about__header {
  margin-bottom: 0.5rem;
}
.about-skills-photo-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 1rem 0;
  align-items: flex-start;
}
.about-prod-skills-photo-wrapper {
  display: flex;
  justify-content: center;
  margin: 1.5rem 1rem 0;
  gap: 4rem;
  align-items: flex-start;
}
.skills-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}
.skills-list-wrapper {
  display: flex;
  margin-top: 0.25rem;
  gap: 2rem;
}
.skills__ul {
  text-align: left;
  color: var(--primary);
}
.skills__li {
  margin-bottom: 0.125rem;
}
.skills__front-end,
.skills__back-end {
  border-radius: 4px;
  padding: 0.2rem 0.75rem;
}
.skills__front-end {
  background: var(--accent1);
}
.skills__back-end {
  background: var(--accent2);
}
.about-image-icons-wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0.5rem;
  padding-top: 1.5rem;
}
.about-image-wrapper {
  max-width: 5.5rem;
}
.about__img {
  height: 9rem;
  width: 100%;
  object-fit: cover;
}
.about-icon-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 0.125rem;
}
.about__text {
  margin-bottom: 0.5rem;
}
.about__icon {
  width: 1.75rem;
  height: 1.75rem;
  color: var(--black);
}
.about__icon:hover {
  color: var(--secondary);
  transition: 250ms;
  cursor: pointer;
}

.projects-wrapper {
  text-align: center;
  margin-top: 2rem;
}
.project__header {
  margin-bottom: 0.5rem;
}
.project-cards-grid {
  display: grid;
  grid-template-columns: repeat(1, fr);
  gap: 1rem;
  justify-items: center;
}
.project__card {
  background: var(--secondary);
  color: var(--primary);
  height: 15rem;
  display: flex;
  justify-content: center;
  width: 10rem;
  align-items: center;
  position: relative;
  cursor: pointer;
  position: relative;
}
.project__card-name {
  position: absolute;
  bottom: 0.5rem;
}
.project__card-icon {
  height: 4rem;
  width: 4rem;
}
.project-modal-small-wrapper {
  z-index: 1;
  background: var(--primary);
  color: var(--black);
  overflow: scroll;
  height: 100%;
  width: 100%;
  position: absolute;
  animation: modal-flip 250ms;
  border: 1px solid var(--black);
}
@keyframes modal-flip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-modal-text-wrapper {
  padding: 0.75rem;
  position: relative;
}
.project-modal-link {
  color: var(--black);
}
.project-modal-icon {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.project-modal-icon:hover {
  color: var(--secondary);
  transition: 175ms ease-out;
}
.project-modal__header {
  margin-bottom: 0.5rem;
}
.project-modal__description {
  text-align: left;
  margin-bottom: 1rem;
}
.project-modal__img {
  width: 100%;
  height: 100%;
}

/* Project style begin */
.project-data-wrapper {
  display: block;
}
.project-text-wrapper {
  margin: 0 1rem;
}
.project__header {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}
.project__sub-header {
  margin-bottom: 1rem;
  font-size: 1.125rem;
}
.project-button-wrapper {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.75rem;
  margin-top: 1rem;
}

.btn-deploy {
  width: 6rem;
  padding: 0.2rem 0;
}

.project__tech-header {
  margin-bottom: 0.25rem;
}
.project__ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  width: 67%;
}
.project__li {
  color: var(--primary);
  background: var(--accent1);
  text-align: center;
  font-size: 0.75rem;
}
.project-img-wrapper {
  margin: 1.5rem 1rem 1rem;
  overflow: scroll;
  position: relative;
  /* height: 20rem; */
  overflow-y: scroll;
}
.project__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* animation: img-glide 10s infinite; */
  position: relative;
}
@keyframes img-glide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(10);
  }
}
.projects-grid-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.project-grid-cards-grid {
  display: grid;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.project-grid__card {
  background: var(--secondary);
  color: var(--primary);
  height: 15rem;
  display: flex;
  justify-content: center;
  width: 10rem;
  align-items: center;
  position: relative;
  cursor: pointer;
  position: relative;
}
.project-grid__header {
  margin-bottom: 0.75rem;
}
@media (min-width: 768px) {
  .project-data-wrapper {
    display: flex;
  }
  .project-text-wrapper {
    margin: 0 2rem;
  }

  .project-img-wrapper {
    margin: 1.5rem 2rem 1rem;
  }
  .project-grid-cards-grid {
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
  }
  .project-grid__card {
    width: 100%;
    height: 12rem;
  }
}

/* Contact style begin */

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem;
  color: var(--secondary);
}

.contact-form {
  border: 1px solid var(--secondary);
  border-radius: 13px;
  width: 100%;
  margin: 1rem;
}
.form__content-wrapper {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}
.form__input-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}
.form__label {
  font-size: 0.75rem;
}
.form__input {
  border: 0.75px solid var(--secondary);
  font-size: 0.75rem;
}
.form__input:focus {
  outline: none;
  border: 0.75px solid var(--accent1);
}
.form__text-area {
  font-family: "Inter", sans-serif;
  resize: none;
  overflow: scroll;
  height: 5rem;
}
.form__btn-wrapper {
  text-align: center;
  margin-top: 0.5rem;
}
.btn-form {
  width: 33%;
}
/* Media queries begin */

@media (min-width: 768px) {
  /* Start Page style begin */
  .sp-container {
    padding-top: 2rem;
  }
  .sp__name {
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
  .sp__desc {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
  }
  .sp__li {
    margin-bottom: 0.75rem;
  }
  .sp__a {
    font-size: 0.875rem;
  }
}

@media (min-width: 1080px) {
  /* Start Page style begin */
  .sp__name {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
  }
  .sp__desc {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
  }
  .sp__li {
    margin-bottom: 1rem;
  }
  .sp__a {
    font-size: 0.875rem;
  }
}
